@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;800&display=swap');

::selection {
    background: #fff2a8;
}

body {
    color: #333;
    font-family: 'Nunito', 'Consolas', 'Trebuchet MS', sans-serif;
    padding-bottom: 3rem;
}

h1 {
    min-width: 33rem;
    display: flex;
}

h1 .title {
    border-bottom: 0.25rem solid #4a91e2;
    flex: 1;
}

h1 .options,
h1 .clear {
    border: 0.2rem solid #ccc;
    border-radius: 50%;
    font-size: 1rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
    cursor: default;
    flex: 0;
    user-select: none;
}

h1 .options:hover,
h1 .clear:hover {
    background-color: #f0f0f0;
}

h1 .options:focus,
h1 .options:active,
h1 .clear:focus,
h1 .clear:active {
    border-color: #4a91e2;
}

.item {
    margin: 0.1rem;
    padding: 0.9rem 0;
    border-bottom: 1px dashed #888;
    font-size: 1rem;
    display: flex;
}

.item:last-child {
    border: 0;
}

.item .text {
    flex: 1;
}

.item .actions {
    flex: 0;
    min-width: 10rem;
    text-align: right;
}

button {
    background-color: #fafbfc;
    border: 1px solid rgba(27, 31, 35, 0.15);
    box-shadow: 0 1px 0 rgb(27 31 35 / 4%), inset 0 1px 0 rgb(255 255 255 / 25%);
    border-radius: 50%;
    transition: background-color 0.2s cubic-bezier(0.3, 0, 0.5, 1);
    margin-left: 0.25rem;
    padding: 5px;
    white-space: nowrap;
    user-select: none;
}

button:hover {
    background-color: #f3f4f6;
    transition-duration: 0.1s;
}

button:active {
    background-color: #edeff2;
    box-shadow: inset 0 1px 0 rgb(225 228 232 / 20%);
    transition: none;
}

button:focus {
    outline: 1px dotted transparent;
    outline-offset: 2px;
    box-shadow: 0 0 0 3px rgb(3 102 214 / 30%);
}

#notification {
    display: flex;
    position: absolute;
    bottom: -9rem;
    transition: all 200ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    left: 0;
    right: 0;
    height: 3rem;
    background-color: #fafbfc;
    box-shadow: 0px 0px 3px rgb(0 0 0 / 20%);
    font-size: 1rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#notification.on {
    bottom: 0rem;
}
